.titulo-principal{ /* estilização titulo da pagina */
    font-size: 50px;
    background-color: #1f1c1f;
    color: chocolate;
    text-align: center;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    padding: 25px;
    border-bottom: 10px solid black;
    text-transform: uppercase;
    border-radius: 8px;
}

body{
    background-color: #1f1c1f;
    line-height: 1.5; /* Controlar espaço entre linhas com base no tanhaho da fonte */
}

.titulo-navegacao{ /* estilização do titulo de menu */
    text-align: center;
    font-size: 20px;
    font-family: "arial", sans-serif;
    border: 3px dashed #494950;
    border-radius: 8px;
    
}

nav a{ /* estilização links */
    color: chocolate;
    text-decoration: none;
}

.link{ /* estilização do menu */
    background: #000000;
    padding: 15px;
    font-family: "arial";
    font-size: 12px;
    border-bottom: 2px solid #494950;
    border-radius: 8px;
    
}

.link:hover{ /* Cor quando selecionado */
    background-color: #030029;
}

.navegacao-solicitacao {
    background-color: #1f1c1f;
    color: #F2FFFC;
    line-height: 2.0;
    padding: 5px;
    box-sizing: border-box;
    text-align: left;
    float: left;
    height: 1200px;
    width: 15%;
    border: 10px solid black;
    border-radius: 8px;
    
}

.corpo-principal{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    float: left;
    border-radius: 8px;
}

.navegacao-lancamento {
    background-color: #1f1c1f;
    color: #F2FFFC;
    line-height: 2.0;
    padding: 5px;
    box-sizing: border-box;
    text-align: left;
    float: right;
    height: 1200px;
    width: 15%;
    border: 10px solid black;
    border-radius: 8px;
    
}

.rodape-pagina {
    background-color: #1f1c1f;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    bottom: 0;
    width: 100%;
    border: 3px solid #494950;
    border-radius: 8px;

}

.titulo-pagina {
    background-color: #1f1c1f;
    color: chocolate;
    font-family: "arial", ;
    font-size: 25px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    float: top;
    width: 100%;
    border: 5px solid #494950;
    border-radius: 8px;
}